<div class="p-4 bg-surface dark:bg-surface-variant">
  <h1 class="flex text-slate-600 font-bold mt-4 mb-2">Button Base</h1>
  <div class="flex space-x-2">
    <button class="btn-primary w-24">Primary</button>
    <button class="btn-secondary w-24">Secondary</button>
    <button class="btn-success w-24">Success</button>
    <button class="btn-warning w-24">Warning</button>
    <button class="btn-danger w-24">Danger</button>
    <button class="btn-info w-24">Info</button>
  </div>
  <h1 class="flex text-slate-600 font-bold mt-6 mb-2">
    Button Base with round and shadow
  </h1>
  <div class="flex space-x-2">
    <button class="btn-primary btn-raised w-24">Primary</button>
    <button class="btn-secondary btn-raised btn-round w-24">Secondary</button>
    <button class="btn-success btn-raised btn-round-pill w-24">Success</button>
    <button class="btn-warning btn-raised w-24">Warning</button>
    <button class="btn-danger btn-raised btn-round w-24">Danger</button>
    <button class="btn-info btn-raised btn-round-pill w-24">Info</button>
  </div>
  <h1 class="flex text-slate-600 font-bold mt-6 mb-2">
    Button fill with round and shadow
  </h1>
  <div class="flex space-x-2">
    <button class="btn-fill-primary w-24">Primary</button>
    <button class="btn-fill-secondary w-24">Secondary</button>
    <button class="btn-fill-success w-24">Success</button>
    <button class="btn-fill-warning w-24">Warning</button>
    <button class="btn-fill-danger w-24">Danger</button>
    <button class="btn-fill-info w-24">Info</button>
  </div>
  <h1 class="flex text-slate-600 font-bold mt-6 mb-2">
    Button fill with shadow
  </h1>
  <div class="flex space-x-2">
    <button class="btn-fill-primary btn-raised w-24">Primary</button>
    <button class="btn-fill-secondary btn-raised w-24">
      Secondary
    </button>
    <button class="btn-fill-success btn-raised w-24">Success</button>
    <button class="btn-fill-warning btn-raised w-24">Warning</button>
    <button class="btn-fill-danger btn-raised w-24">Danger</button>
    <button class="btn-fill-info btn-raised w-24">Info</button>
  </div>
  <h1 class="flex text-slate-600 font-bold mt-6 mb-2">
    Button fill with shadow and round
  </h1>
  <div class="flex space-x-2">
    <button class="btn-fill-primary btn-raised btn-round w-24">
      Primary
    </button>
    <button class="btn-fill-secondary btn-raised btn-round w-24">
      Secondary
    </button>
    <button class="btn-fill-success btn-raised btn-round w-24">
      Success
    </button>
    <button class="btn-fill-warning btn-raised btn-round w-24">
      Warning
    </button>
    <button class="btn-fill-danger btn-raised btn-round w-24">
      Danger
    </button>
    <button class="btn-fill-info btn-raised btn-round w-24">
      Info
    </button>
  </div>
  <h1 class="flex text-slate-600 font-bold mt-6 mb-2">
    Button fill with shadow and round pill
  </h1>
  <div class="flex space-x-2">
    <button class="btn-fill-primary btn-raised btn-round-pill w-24">
      Primary
    </button>
    <button class="btn-fill-secondary btn-raised btn-round-pill w-24">
      Secondary
    </button>
    <button class="btn-fill-success btn-raised btn-round-pill w-24">
      Success
    </button>
    <button class="btn-fill-warning btn-raised btn-round-pill w-24">
      Warning
    </button>
    <button class="btn-fill-danger btn-raised btn-round-pill w-24">
      Danger
    </button>
    <button class="btn-fill-info btn-raised btn-round-pill w-24">
      Info
    </button>
  </div>
<h1 class="flex text-slate-600 font-bold mt-6 mb-2">
    Button outline
  </h1>
  <div class="flex space-x-2">
  <button class="btn-outline-primary w-24">Primary</button>
  <button class="btn-outline-secondary w-24">Secondary</button>
  <button class="btn-outline-success w-24">Success</button>
  <button class="btn-outline-warning w-24">Warning</button>
  <button class="btn-outline-danger w-24">Danger</button>
  <button class="btn-outline-info w-24">Info</button>
</div>
<h1 class="flex text-slate-600 font-bold mt-6 mb-2">
    Button outline with shadow
  </h1>
<div class="flex space-x-2">
  <button class="btn-outline-primary btn-raised w-24">Primary</button>
  <button class="btn-outline-secondary btn-raised w-24">
    Secondary
  </button>
  <button class="btn-outline-success btn-raised w-24">Success</button>
  <button class="btn-outline-warning btn-raised w-24">Warning</button>
  <button class="btn-outline-danger btn-raised w-24">Danger</button>
  <button class="btn-outline-info btn-raised w-24">Info</button>
</div>
<h1 class="flex text-slate-600 font-bold mt-6 mb-2">
    Button outline with shadow and round
  </h1>
<div class="flex space-x-2">
  <button class="btn-outline-primary btn-raised btn-round w-24">
    Primary
  </button>
  <button class="btn-outline-secondary btn-raised btn-round w-24">
    Secondary
  </button>
  <button class="btn-outline-success btn-raised btn-round w-24">
    Success
  </button>
  <button class="btn-outline-warning btn-raised btn-round w-24">
    Warning
  </button>
  <button class="btn-outline-danger btn-raised btn-round w-24">
    Danger
  </button>
  <button class="btn-outline-info btn-raised btn-round w-24">
    Info
  </button>
</div>
<h1 class="flex text-slate-600 font-bold mt-6 mb-2">
    Button fill with shadow and round pill
  </h1>
<div class="flex space-x-2">
  <button class="btn-outline-primary btn-raised btn-round-pill w-24">
    Primary
  </button>
  <button
    class="btn-outline-secondary btn-raised btn-round-pill w-24"
  >
    Secondary
  </button>
  <button class="btn-outline-success btn-raised btn-round-pill w-24">
    Success
  </button>
  <button class="btn-outline-warning btn-raised btn-round-pill w-24">
    Warning
  </button>
  <button class="btn-outline-danger btn-raised btn-round-pill w-24">
    Danger
  </button>
  <button class="btn-outline-info btn-raised btn-round-pill w-24">
    Info
  </button>
</div>
</div>
<!--
TEST

<div class="flex space-x-2">
<button znbButton outline success raised pill class="w-24">Primary</button>
<button class="btn-outline-success btn-raised btn-round-pill w-24">Secondary</button>
<button class="btn-fill-success w-24">Success</button>
<button class="btn-fill-warning w-24">Warning</button>
<button class="btn-fill-danger w-24">Danger</button>
<button class="btn-fill-info w-24">Info</button>
</div>

--------------------------------- -->
