<div class="p-4">
  <h1>Outline</h1>
  <h2>Pill or Rounded </h2>
  <div class=" w-full flex flex-wrap">
    <ui-znb-segmented-button class="flex-1 mr-2 mb-2" Outline Pill>
      <button>Button 1</button>
      <button>Button 2</button>
      <button>Button 3</button>
      <button class="active">Active</button>
    </ui-znb-segmented-button>
    <ui-znb-segmented-button class="flex-1 mr-2 mb-2" Outline Rounded>
      <button>Button 1</button>
      <button>Button 2</button>
      <button>Button 3</button>
      <button class="active">Active</button>
    </ui-znb-segmented-button>
  </div>
  <h2>Raised</h2>
  <div class=" w-full flex flex-wrap">
    <ui-znb-segmented-button class="flex-1 mr-2 mb-2" Outline Pill Raised>
      <button>Button 1</button>
      <button>Button 2</button>
      <button>Button 3</button>
      <button class="active">Active</button>
    </ui-znb-segmented-button>
    <ui-znb-segmented-button class="flex-1 mr-2 mb-2" Outline Rounded Raised>
      <button>Button 1</button>
      <button>Button 2</button>
      <button>Button 3</button>
      <button class="active">Active</button>
    </ui-znb-segmented-button>
  </div>
  <h1>Fill</h1>
  <h2>Pill or Rounded </h2>
  <div class=" w-full flex flex-wrap">
    <ui-znb-segmented-button class="flex-1 mr-2 mb-2" Fill Pill>
      <button>Button 1</button>
      <button>Button 2</button>
      <button>Button 3</button>
      <button class="active">Active</button>
    </ui-znb-segmented-button>
    <ui-znb-segmented-button class="flex-1 mr-2 mb-2" Fill Rounded>
      <button>Button 1</button>
      <button>Button 2</button>
      <button>Button 3</button>
      <button class="active">Active</button>
    </ui-znb-segmented-button>
  </div>
  <h2>Raised</h2>
  <div class=" w-full flex flex-wrap">
    <ui-znb-segmented-button class="flex-1 mr-2 mb-2" Fill Pill Raised>
      <button>Button 1</button>
      <button>Button 2</button>
      <button>Button 3</button>
      <button class="active">Active</button>
    </ui-znb-segmented-button>
    <ui-znb-segmented-button class="flex-1 mr-2 mb-2" Fill Rounded Raised>
      <button>Button 1</button>
      <button>Button 2</button>
      <button>Button 3</button>
      <button class="active">Active</button>
    </ui-znb-segmented-button>
  </div>

  <h1>Colors</h1>
  <div class=" w-full flex flex-wrap">
    <ui-znb-segmented-button class="flex-1 mr-2 mb-2" Outline Pill Raised Primary>
      <button>Button 1</button>
      <button>Button 2</button>
      <button>Button 3</button>
      <button class="active">Active</button>
    </ui-znb-segmented-button>
    <ui-znb-segmented-button class="flex-1 mr-2 mb-2" Outline Pill Raised Secondary>
      <button>Button 1</button>
      <button>Button 2</button>
      <button>Button 3</button>
      <button class="active">Active</button>
    </ui-znb-segmented-button>
  </div>
  <div class=" w-full flex flex-wrap">
    <ui-znb-segmented-button class="flex-1 mr-2 mb-2" Outline Pill Raised Success>
      <button>Button 1</button>
      <button>Button 2</button>
      <button>Button 3</button>
      <button class="active">Active</button>
    </ui-znb-segmented-button>
    <ui-znb-segmented-button class="flex-1 mr-2 mb-2" Outline Pill Raised Warning>
      <button>Button 1</button>
      <button>Button 2</button>
      <button>Button 3</button>
      <button class="active">Active</button>
    </ui-znb-segmented-button>
  </div>
  <div class=" w-full flex flex-wrap">
    <ui-znb-segmented-button class="flex-1 mr-2 mb-2" Outline Pill Raised Danger>
      <button>Button 1</button>
      <button>Button 2</button>
      <button>Button 3</button>
      <button class="active">Active</button>
    </ui-znb-segmented-button>
    <ui-znb-segmented-button class="flex-1 mr-2 mb-2" Outline Pill Raised Info>
      <button>Button 1</button>
      <button>Button 2</button>
      <button>Button 3</button>
      <button class="active">Active</button>
    </ui-znb-segmented-button>
  </div>
  <div class=" w-full flex flex-wrap">
    <ui-znb-segmented-button class="flex-1 mr-2 mb-2" Fill Pill Raised Primary>
      <button>Button 1</button>
      <button>Button 2</button>
      <button>Button 3</button>
      <button class="active">Active</button>
    </ui-znb-segmented-button>
    <ui-znb-segmented-button class="flex-1 mr-2 mb-2" Fill Pill Raised Secondary>
      <button>Button 1</button>
      <button>Button 2</button>
      <button>Button 3</button>
      <button class="active">Active</button>
    </ui-znb-segmented-button>
  </div>
  <div class=" w-full flex flex-wrap">
    <ui-znb-segmented-button class="flex-1 mr-2 mb-2" Fill Pill Raised Success>
      <button>Button 1</button>
      <button>Button 2</button>
      <button>Button 3</button>
      <button class="active">Active</button>
    </ui-znb-segmented-button>
    <ui-znb-segmented-button class="flex-1 mr-2 mb-2" Fill Pill Raised Warning>
      <button>Button 1</button>
      <button>Button 2</button>
      <button>Button 3</button>
      <button class="active">Active</button>
    </ui-znb-segmented-button>
  </div>
  <div class=" w-full flex flex-wrap">
    <ui-znb-segmented-button class="flex-1 mr-2 mb-2" Fill Pill Raised Danger>
      <button>Button 1</button>
      <button>Button 2</button>
      <button>Button 3</button>
      <button class="active">Active</button>
    </ui-znb-segmented-button>
    <ui-znb-segmented-button class="flex-1 mr-2 mb-2" Fill Pill Raised Info>
      <button>Button 1</button>
      <button>Button 2</button>
      <button>Button 3</button>
      <button class="active">Active</button>
    </ui-znb-segmented-button>
  </div>
</div>
